body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: deepskyblue;
}

#story {
    font-size: xx-large;
}

#notes {
    font-size: large;
    margin-top: auto;
}