html {
    overflow: hidden;
}

body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
    background-image: url("images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

figure {
    display: inline-block;
    text-align: center;
    margin: 20px;
    min-height: 155px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    border: 1px;
}

.dragging {
    opacity: 0.5;
}