body {
    background-color: darkslategrey;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

#beavis {
    height: auto;
    width: 900px;
}

#logo {
    width: 900px;
}

#blurb {
    text-align: left;
    margin-left: 2rem;
}

header {
    font-size: 40pt;
    font-weight: bolder;
}

p {
    font-size: 35pt;
}

#rambo {
    height: auto;
    width: 750px;
}